#landingSection{
    padding: 40px;
}

#landingSection .row div:first-child > div{
    text-align: center;
}

#produto{
    margin-right: auto !important;
    margin-left: auto !important;
}

#produto .produtoImage{
    width: 100% !important;
}

#produto .close{
    top: 80px;
    left: 100px;
}

.rulesTip .gota img:first-child{
    top: 27px;
    left: 300px;
}

.rulesTip .gota img:last-child{
    top: 22px;
    left: 260px;
}

#landingSection p{
    width: 100%;
    text-align: justify;
}

#landingSection h3{
    text-align: center;
}

h3{
    font-size: 45px !important;
}

#plans .cards{
    justify-content: center;
}

#person{
    margin-top: 50px;
}

#person img{
    width: 100%;
}